.loginPageWrap {
  padding: 0 20px 100px;
}

.login {
  max-width: 400px;
  margin: auto;
}

.loginPromptWrap {
  text-align: center;
  line-height: 30px;
}

.loginPromptText {
  font-style: italic;
  font-size: 30px;
}

.socialSignInWrap {
  text-align: center;
}

.socialSignIn__text {
  font-size: 14px;
}

.socialSignIn__iconWrap {
  display: flex;
  max-width: 200px;
  margin: 20px auto 40px;
}

.socialSignIn__icon {
}