.dashboard {
  max-width: 400px;
  margin: auto;
  margin-top: 100px;
}

.rows {
  border-top: solid #8C8C8C 1px;
}

.row {
  display: flex;
  align-items: center;
  border-bottom: solid #8C8C8C 1px;
  height: 60px;
  padding: 10px 5px;
}

.rowItem {
  flex: 1;
}

.rowItemIcon {
  margin-left: 20px;
}
.rowItemTime {
  text-align: left;
}
.rowItemGained {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}