.app {
}

.app__inner {
  background: #EEE;
}

.app__container {
  padding-top: 7em;
}

:global(.right.menu a) {
  color: white !important;
}
:global(.right.menu a:hover) {
  color: white !important;
}

:global(.ui.menu) {
  background: transparent;
  height: 60px;
  padding: 16px;
  border-bottom: none;
}

:global(.ui.menu .item) {
  color: white;
  cursor: pointer;
}

:global(body) {
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(47,47,47,0.654499299719888) 100%, rgba(0,212,255,1) 100%), /* bottom, image */ url(/img/bg_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

:global(.ui.button) {
  color: #ED4D50 !important;
  background: transparent !important;
  font-size: 24px !important;
  font-weight: 200 !important;
}
:global(.ui.button:hover) {
  color: #ED4D50 !important;
  background: transparent !important;
  font-size: 24px !important;
  font-weight: 200 !important;
}
:global(.ui.form input) {
  color: #ED4D50 !important;
  border: none !important;
  border-radius: 0 !important;
  border-bottom: solid white 2px !important;
  background: transparent !important;
  padding-left: 0 !important;
}
:global(.ui.form input:focus) {
  border: none !important;
  border-radius: 0 !important;
  border-bottom: solid white 2px !important;
  background: transparent !important;
  padding-left: 0 !important;
}
:global(.ui.form input::placeholder) {
  color: #ED4D50 !important;
}


